<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Център за Медиация</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink='' class="nav-item nav-link active">Начало</a>
      <a routerLink='poll' class="nav-item nav-link">Анкета</a>
      <!-- <a routerLink='schedule' class="nav-item nav-link">Logger Schedule</a> -->
    </div>
  </div>  
  <div class="navbar-expand ml-auto">
    <div class="navbar-nav">
      <a *ngIf="!currentUser" routerLink='/login' class="nav-item nav-link">Login</a>
      <a *ngIf="currentUser" [routerLink]="['/company', currentUser.companyId]" class="nav-item nav-link">{{ currentUser.companyName }}</a>
      <a *ngIf="currentUser" routerLink='/login' class="nav-item nav-link">Logout</a>
    </div>
  </div>
</nav>