.table-rotated-header {
    th.rotate-90 {
        vertical-align: bottom;
        height: 90px;
        width: 31px;

        div {
            transform: rotate(-90deg);
            white-space: nowrap;
        }
    }

    td {
        padding: 0;
    }

    .oddRowColor {
        background-color: lightgrey;
    }
    .evenRowColor {
        background-color: white;
    }
}

.ui-table table {
    border-collapse: !important unset;
}