#table-rotated-header {
    th.rotate-90 {
        vertical-align: bottom;
        height: 90px;
        width: 31px;

        div {
            transform: rotate(-90deg);
            white-space: nowrap;
        }
    }

    td {
        padding: 0;

        &.loggerName {
            text-align: right; 
            padding: 0px 5px 0px 0px;
        }
        &.maxGames {
            text-align: center;
        }
    }

    table.ui-table-scrollable-body-table {
        max-height: 600px;
    }

    div.ui-table-scrollable-header-box {
        margin-right: 17px !important;
    }

    // .oddRowColor {
    //     background-color: lightgrey;
    // }
    // .evenRowColor {
    //     background-color: white;
    // }
}
