<div class="p-grid">
  <div class="p-col-12">
      <sn-logger-schedule-filter
        (filterChange)="onFilterChange($event)" >
      </sn-logger-schedule-filter>
  </div>

  <div class="p-col-12">
    <sn-logger-schedule-calendar
      #calendar
      [schedule]="loggersDailySchedule$ | async"
      [paging]="listPaging"
      [loggersCount]="loggersCount$ | async"
      (submitChanges)="onSubmitChanges($event)"
      (scroll)="onCalendarScroll($event)" >
    </sn-logger-schedule-calendar>
  </div>
</div>