<div class="p-grid">
  <div class="p-col-6 p-offset-3">
    <div class="p-grid">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="p-col-12">
        <app-company-info-poll [inputForm]="form"></app-company-info-poll>

        <button type="submit" pButton label="Създай регистрация" [disabled]="!form.valid"></button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="saved" >
  <div class="alert alert-success">
      <p class="display-4 text-center">
          <strong>Компанията е създадена успешно. На посочения от Вас имейл ще получите съобщение за задаване на парола.</strong>
      </p>
  </div>
</div>