<div class="p-grid" >

  <div class="p-col-10 p-offset-1">
    <div class="container">
      <div class="jumbotron">
          <h1>Човешките ресурси - основен проблем на бизнеса</h1>
          <blockquote class="blockquote text-right">
            <p class="mb-0">"Интересен е не самият проблем, интересен е шансът да бъде решен и резултатът, който може да донесе неговото решение"</p>
            <footer class="blockquote-footer">Хорхе Букай</footer>
          </blockquote>
      </div>
    </div>    
  </div>

</div>

<div class="p-grid" style="background-color: #6D8CA0">

  <div class="p-col p-offset-3">
    <img src="/src/assets/Main Reasons.png" alt="Основни причини за липсата на човешки ресурси">
  </div>

</div>

<div class="p-grid" style="background-color: #E8D0A9">

  <div class="p-col-6 p-offset-2">
    <img src="/src/assets/Algorithm Diagram.png" alt="Алгоритъм за взаимодействие между триадата бизнес, наука, образование" style="padding: 50px 0px 50px 0px;">
  </div>

</div>

<div class="p-grid">
  <!-- More text about Mediation from .ppt -->
</div>

